<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.malibu_lib.gat2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <!-- Add these to your manifest or enable manifest merging by adding manifestmerger.enabled=true to your project.properties file -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application />

</manifest>